/*
0 - 600px: Phone
600 - 900px:  Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800px]:  Is where our styles apply
1800px +:  Big Desktop

Breakpoints arguments choices:

- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
.grid {
  padding: 1rem;
  background: #282c37;
  font-size: 1.5rem; }

.modal {
  font-size: 1.5rem !important; }
  .modal__header {
    font-size: 2.5rem !important; }
  .modal__form {
    font-size: 1.5rem !important; }
