@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: .8;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: .8;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.grid {
  padding: 1rem;
  font-size: 1.5rem; }

.modal {
  font-size: 1.5rem !important; }
  .modal__header {
    font-size: 2.5rem !important; }
  .modal__form {
    font-size: 1.5rem !important; }

.heading {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin: 2rem;
  font-size: 3.5rem;
  -webkit-background-clip: text;
  color: #282c37;
  letter-spacing: .2rem;
  transition: all .2s;
  animation: moveInLeft 3s ease-out; }
  .heading:hover {
    transform: translateY(-0.2rem) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
