@import '../../styles/variables';
@import '../../styles/mixins';

.grid {
  padding: 1rem;
  background: $color-primary-dark;
  font-size: 1.5rem;
}

.modal {
  font-size: 1.5rem !important;

  &__header {
    font-size: 2.5rem !important;
  }

  &__form{
    font-size: 1.5rem !important;
  }
}
